<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1><%= title %></h1>
    <h2>Users Details</h2>
    <div>
      <h2>Total number of users: <%= users.length %></h2>
      <h2>Active users today: <%= activeUsersToday %></h2>
      <h2>Active users 7 days ago: <%= activeUsersSevenDays %></h2>
    </div>
    <div style="width: 100%;">
      <div style="display: grid; gap: 1rem; grid-template-columns: repeat(4, 1fr); margin-bottom: 2rem;">
        <div>User name</div>
        <div>Time of Signup</div>
        <div>No of logins</div>
        <div>Last session</div>
      </div>
      <div style="display: grid; gap: 1rem; grid-template-columns: repeat(4, 1fr);">
        <% users.map(user => { %>
        <div><%= user.name %></div>
        <div><%= user.created_at %></div>
        <div><%= user.logins_count %></div>
        <div><%= user.last_login %></div>
        <% } ) %>
      </div>
    </div>
  </body>
</html>
