<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1><%= title %></h1>
    <% if(user) { %>
    <div>
      <img src="<%= user.picture %>" />
      <p>
        name:
        <%= user.name %>
      </p>
    </div>
    <% } %>
    <div>
        <button onclick="<%= resetPassword %>">Reset Password</button>
    </div>
    <div>
      <form onsubmit="<%= handleEditName %>">
        <input placeholder="edit name" name="name" />
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
